{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row h-100 justify-content-center aling-items-center">
        <div class="Post col-sm-12" >
            <div id="Followers">
                <strong>Followers: </strong><span id="followerscount">{{followerscount}}</span>
                <hr>
                <div id="User-{userprofile.id}">
                    <strong>{{userprofile.username}}</strong>
                </div>
                <hr>
                <div id="Following">
                    <strong>Following: </strong> {{followingcount}}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% if userprofile.username != user.username %}
      
    <div class="container">
                <div class="row h-100 justify-content-end">
                    <div class="col-sm-12">
                           
                    <button  data-ownerofprofile="{{userprofile.id}}" id="followButton" type="submit"  class="btn btn-primary"> 
                    {% if followers is True %}  
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                    </button>
                        
                    </div>

                </div>
        </div>
    
    
    
{% endif %}

{% for post in page_obj %}
{% if request.user.id == post.user.id %}
<div class="container">
    <div class="row h-100 justify-content-center aling-items-center">
        <div class="Post col-sm-6" id="post-{{ post.id }}">
            <div id="user-{{post.user.id}}">
                <strong><a href="{% url 'Profile' post.user.id %}">{{post.user.username}}</a></strong>
                <hr>
                <div id="text-Contend">
                    <p id="p_text_contend_{{ post.id }}">{{post.Contend}}</p>
                    <textarea  style="display: none;" id="texarea_text_contend_{{ post.id }}" cols="50" rows="5">{{post.Contend}}</textarea>
                </div>
                <div class="Post-Date-Span" id="Post-time">
                <hr>
                {{post.Date}} 
                {% if request.user in post.like.all %}
                    <button id="like-btn-{{ post.id }}" class="btn btn-outline-secondary Likebtn" data-Liked="yes" data-post_id="{{ post.id }}">Dislike</button> <span id="like-count-{{ post.id }}">{{post.like.count}}</span>
                {% else %}
                    <button id="like-btn-{{ post.id }}" class="btn btn-outline-secondary Likebtn" data-Liked="no" data-post_id="{{ post.id }}">Like</button> <span id="like-count-{{ post.id }}">{{post.like.count}}</span>    
                {% endif %}    
                </div>
                <div class="text-right">
                    <button type="submit" id="editpost-{{ post.id }}" class="btn btn-warning EditPost" data-post_id="{{ post.id }}">Edit</button>
                    <button style="display: none;" type="submit" id="savepost-{{ post.id }}" class="btn btn-warning SavePost" data-post_id="{{ post.id }}">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row h-100 justify-content-center aling-items-center">
        <div class="Post col-sm-6" id="post-{{ post.id }}">
            <div id="user-{{post.user.id}}">
                <strong><a href="{% url 'Profile' post.user.id %}">{{post.user.username}}</a></strong>
                <hr>
                <div id="text-Contend">
                    <p>{{post.Contend}}</p>
                    <div class="Post-Date-Span" id="Post-time">
                    <hr>
                        {{post.Date}} 
                        {% if request.user in post.like.all %}
                            <button id="like-btn-{{ post.id }}" class="btn btn-outline-secondary Likebtn" data-Liked="yes" data-post_id="{{ post.id }}">Dislike</button> <span id="like-count-{{ post.id }}">{{post.like.count}}</span>
                        {% else %}
                            <button id="like-btn-{{ post.id }}" class="btn btn-outline-secondary Likebtn" data-Liked="no" data-post_id="{{ post.id }}">Like</button> <span id="like-count-{{ post.id }}">{{post.like.count}}</span>    
                        {% endif %}   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
    
    

    {% endfor %}

    <div class="container">
        <div class="row h-100 justify-content-center aling-items-center">
            <div class="col-sm-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
                        {% endif %}
                        {% for page in paginator %}
                            <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a class="page-link"  aria-label="Next" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {% if userprofile.username != user.username %} <script src="{% static 'network/profile.js' %}"></script> {% endif %}
    <script src="{% static 'network/EditPost.js' %}" ></script>
    <script src="{% static 'network/Like.js' %}" ></script>
{% endblock %}